body{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(0,0,0,.7)!important;
    font-size: 1.7rem;
}
.navbar-default{
    background-color: #428bca;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}


.active_page{
    color: white !important;
    background: #428bca !important;
}